# Ignore all run outputs
mmrotateruns/*

# Ignore log files
log_files/*

# Ignore all PyTorch model weights at root
/*.pt

# Ignore download logs
data_downloading_log/*

# Ignore entire directories
Strip-R-CNN/
mmrotate/
model/mmrotate/
runs/