mmrotateruns/*
log_files/*
/*.pt
data_downloading_log/*
Strip-R-CNN/
mmrotate/
model/mmrotate/
runs/
figures/
lightning_logs/
model/mmrotate/
mmrotate/
Strip-R-CNN/
data_downloading_log/
shardhul/mmrotate/
log_files/
cross_seasons_obb/
models/runs_rtdetr/
models/runs_yolo_world_v2/
runs_sentinel/
runs_old/
data_downloading_log/
a/